* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}
.container {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
}
.nav {
  position: absolute;
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 1em 2em;
}
.nav.slidedown {
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgb(39, 39, 42, 0.8);
  animation: slidedown 200ms forwards;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

@keyframes slidedown {
  from {
    top: -100%;
  }
  to {
    top: 0;
    box-shadow: 0 2px 8px 0 #18181b;
  }
}

.nav ul {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.menu-icon {
  font-size: 32px;
  color: white;
  display: none !important;
  cursor:pointer;
}


@media (max-width: 900px) {

  .nav ul {
    /* display: none; */
    position: absolute;
    display:flex;
    flex-direction:column;
    top: 0;
    right: 0;
    padding: 3rem 3rem;
    margin:0;
    width: 50%;
    text-align: left;
    align-items: start;
    gap:3em;
    background-color: red;
  }
  .menu-icon {
    display: block !important;
  }
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #6366f1;
  transition: color 200ms ease-out;
}

.hero {
  position: relative;
  background-color: #18181b;
  height: 100vh;
  z-index: 1;
}
.btn {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background-color: #6366f1;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #6366f1;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.hero-white {
  display: flex;
  height: 100vh;
}
